@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html { 
	scroll-behavior: smooth; 
  } 
body {
	line-height: 1.6;
    font-size:15px;
    color:#333;	
	font-family:'Noto Sans KR', sans-serif;
}
a {
	text-decoration: none;
	line-height: 1.6;
    font-size:15px;
    color:#333;	
	font-family: 'Noto Sans KR', sans-serif;
}

ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
img { vertical-align: top; }
.hide {
	position: absolute;
	left: 0; top: 0; width: 0; font-size: 0;
	line-height: 0;
	overflow: hidden;
	visibility: hidden;
	text-indent: -9999em;
} 

caption, legend {
	position: absolute;
	left: -9999px;
	top: 0;
	overflow: hidden;
}

#skipNav a {display: block; width: 100%; line-height: 50px; text-align: center; color:#fff; background: #000; position: absolute; left: 0; top: -1000px; }
#skipNav a:hover,#skipNav a:active,#skipNav a:focus  { top: 0; }

/* reset */
*, *::after, *::before{-webkit-box-sizing:border-box;box-sizing:border-box;border-width:0;border-style:solid;border-color:currentColor}
a, abbr, acronym, address, applet, article, aside, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, sup, table, tt, u, ul, var{margin:0;padding:0;border:0;vertical-align:baseline}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section{display:block}
img, video{max-width:100%;max-height:100%}
img{image-rendering:-webkit-optimize-contrast}
ol, ul{list-style:none}
em{font-style:normal}
blockquote, q{quotes:none}
blockquote:after, blockquote:before, q:after, q:before{content:''}
html{-webkit-text-size-adjust:100%}
body{margin:0;font-weight:normal;font-family:"Roboto","Noto Sans Kr",serif;min-width:1400px;color:#222;word-break:break-all;letter-spacing:-0.5px}
body.normal{min-width:0}
table{table-layout:fixed;width:100%;max-width:100%;border-color:inherit;border-collapse:collapse;border-spacing:0}
button, input, optgroup, select, textarea{font-family:inherit;margin:0}
select{cursor:pointer;-moz-appearance:none;

    /* Firefox */
    -webkit-appearance:none;

    /* Safari and Chrome */
    appearance:none}
select::-ms-expand{display:none}
[type='button'], [type='reset'], [type='submit'], button{cursor:pointer;-webkit-appearance:button}
button{padding:0;line-height:inherit;color:inherit;border-radius:0;background-color:transparent;background-image:none}
:-moz-ui-invalid{box-shadow:none}
button, input, select, textarea{outline:none}
button:focus, input:focus, select:focus, textarea:focus{outline:none}
label{cursor:pointer}
a{color:inherit;text-decoration:none}

/* placeholder */
::-webkit-input-placeholder{

    /* Chrome/Opera/Safari */
    font-size:16px;color:#bbb;text-align:left;letter-spacing:-0.2px}
::-moz-placeholder{

    /* Firefox 19+ */
    font-size:16px;color:#bbb;text-align:left;letter-spacing:-0.2px}
::-moz-placeholder{

    /* Firefox 18- */
    font-size:16px;color:#bbb;text-align:left;letter-spacing:-0.2px}
input:-ms-input-placeholder{

    /* IE 10+ */
    font-size:16px;color:#bbbbbb !important;text-align:left !important;letter-spacing:-0.2px}
textarea:-ms-input-placeholder{

    /* IE 10+ */
    font-size:16px;color:#bbbbbb !important;text-align:left !important;letter-spacing:-0.2px}
::-ms-input-placeholder{

    /* IE 10+ */
    font-size:16px;color:#bbbbbb;text-align:left !important;letter-spacing:-0.2px}
::-ms-clear{display:none}
::-ms-reveal{display:none}

/* font */
@font-face{font-family:"Noto Sans Kr";font-weight:400;font-style:normal;src:url("../../fonts/NotoSans-Regular.eot?") format("eot"),url("../../fonts/NotoSans-Regular.woff") format("woff"),url("../../fonts/NotoSans-Regular.woff2") format("woff2"),url("../../fonts/NotoSans-Regular.ttf") format("truetype")}
@font-face{font-family:"Noto Sans Kr";font-weight:500;font-style:normal;src:url("../../fonts/NotoSans-Medium.eot?") format("eot"),url("../../fonts/NotoSans-Medium.woff") format("woff"),url("../../fonts/NotoSans-Medium.woff2") format("woff2"),url("../../fonts/NotoSans-Medium.ttf") format("truetype")}
@font-face{font-family:"Noto Sans Kr";font-weight:700;font-style:normal;src:url("../../fonts/NotoSans-Bold.eot?") format("eot"),url("../../fonts/NotoSans-Bold.woff") format("woff"),url("../../fonts/NotoSans-Bold.woff2") format("woff2"),url("../../fonts/NotoSans-Bold.ttf") format("truetype")}
@font-face{font-family:"Roboto";font-weight:400;font-style:normal;src:url("../../fonts/roboto-regular.eot?") format("eot"),url("../../fonts/roboto-regular.woff") format("woff"),url("../../fonts/roboto-regular.woff2") format("woff2"),url("../../fonts/roboto-regular.ttf") format("truetype");unicode-range:U+0041-005A,U+0061-007A,U+0030-0039,U+0020-002F,U+003A-0040,U+005B-0060,U+007B-007D}
@font-face{font-family:"Roboto";font-weight:500;font-style:normal;src:url("../../fonts/roboto-medium.eot?") format("eot"),url("../../fonts/roboto-medium.woff") format("woff"),url("../../fonts/roboto-medium.woff2") format("woff2"),url("../../fonts/roboto-medium.ttf") format("truetype");unicode-range:U+0041-005A,U+0061-007A,U+0030-0039,U+0020-002F,U+003A-0040,U+005B-0060,U+007B-007D}
@font-face{font-family:"Roboto";font-weight:700;font-style:normal;src:url("../../fonts/roboto-bold.eot?") format("eot"),url("../../fonts/roboto-bold.woff") format("woff"),url("../../fonts/roboto-bold.woff2") format("woff2"),url("../../fonts/roboto-bold.ttf") format("truetype");unicode-range:U+0041-005A,U+0061-007A,U+0030-0039,U+0020-002F,U+003A-0040,U+005B-0060,U+007B-007D}

/* reset */
